DotNet/Uebung1/.vs
DotNet/Uebung1/bin
DotNet/Uebung1/obj
DotNet/Uebung2/.vs
DotNet/Uebung2/bin
DotNet/Uebung2/obj
DotNet/Uebung3/.vs
DotNet/Uebung3/bin
DotNet/Uebung3/obj
*.sln
*.csproj
DotNet/Uebung5 - BMI Rechner/.vs
DotNet/Uebung5 - BMI Rechner/Form1.resx
DotNet/Uebung5 - BMI Rechner/Uebung5 - BMI Rechner.csproj.user
DotNet/Uebung5 - BMI Rechner/obj
DotNet/Uebung5 - BMI Rechner/bin
DotNet/Uebung5 NimGameGUI/Form1.resx
DotNet/Uebung5 NimGameGUI/Uebung5 NimGameGUI.csproj.user
DotNet/Uebung5 NimGameGUI/obj
DotNet/Uebung5 NimGameGUI/bin
DotNet/Uebung5 NimGameGUI/.vs
DotNet/Uebung8-ObserverPattern/Uebung8-ObserverPattern/bin
DotNet/Uebung8-ObserverPattern/Uebung8-ObserverPattern/obj
DotNet/Uebung8-ObserverPattern/.vs
